<%= form_tag("jason", :method=>"post") do -%>

<select id="champions" name="champions">
	<option>Akali</option>
	<option>Alistar</option>
	<option>Amumu</option>
	<option>Anivia</option>
	<option>Annie</option>
	<option>Ashe</option>
	<option>Blitzcrank</option>
	<option>Brand</option>
	<option>Caitlyn</option>
	<option>Cassiopeia</option>
	<option>Cho'Gath</option>
	<option>Corki</option>
	<option>Dr. Mundo</option>
	<option>Evelynn</option>
	<option>Ezreal</option>
	<option>Fiddlesticks</option>
	<option>Galio</option>
	<option>Gangplank</option>
	<option>Garen</option>
	<option>Gragas</option>
	<option>Heimerdinger</option>
	<option>Irelia</option>
	<option>Janna</option>
	<option>Jarvan IV</option>
	<option>Jax</option>
	<option>Karma</option>
	<option>Karthus</option>
	<option>Kassadin</option>
	<option>Katarina</option>
	<option>Kayle</option>
	<option>Kennen</option>
	<option>Kog'Maw</option>
	<option>LeBlanc</option>
	<option>Lee Sin</option>
	<option>Leona</option>
	<option>Lux</option>
	<option>Malphite</option>
	<option>Malzahar</option>
	<option>Maokai</option>
	<option>Master Yi</option>
	<option>Miss Fortune</option>
	<option>Mordekaiser</option>
	<option>Morgana</option>
	<option>Nasus</option>
	<option>Nidalee</option>
	<option>Nocturne</option>
	<option>Nunu</option>
	<option>Olaf</option>
	<option>Orianna</option>
	<option>Pantheon</option>
	<option>Poppy</option>
	<option>Rammus</option>
	<option>Renekton</option>
	<option>Riven</option>
	<option>Rumble</option>
	<option>Ryze</option>
	<option>Shaco</option>
	<option>Shen</option>
	<option>Singed</option>
	<option>Sion</option>
	<option>Sivir</option>
	<option>Skarner</option>
	<option>Sona</option>
	<option>Soraka</option>
	<option>Swain</option>
	<option>Talon</option>
	<option>Taric</option>
	<option>Teemo</option>
	<option>Tristana</option>
	<option>Trundle</option>
	<option>Tryndamere</option>
	<option>Twisted Fate</option>
	<option>Twitch</option>
	<option>Udyr</option>
	<option>Urgot</option>
	<option>Vayne</option>
	<option>Veigar</option>
	<option>Vladimir</option>
	<option>Warwick</option>
	<option>Wukong</option>
	<option>Xerath</option>
	<option>Xin Zhao</option>
	<option>Yorick</option>
	<option>Zilean</option>
</select>

<input type="submit" value="Get info!">

<% end %>

<%= @jason.html_safe %>

