<form onSubmit="return false;">
  <input type="text" id="search" autocomplete="off" placeholder="Start typing a champion's name here...">
</form>

<div id="list-holder">
  <ul id="champions">
    <li id="1">Ahri</li>
    <li id="2">Akali</li>
    <li id="3">Alistar</li>
    <li id="4">Amumu</li>
    <li id="5">Anivia</li>
    <li id="6">Annie</li>
    <li id="7">Ashe</li>
    <li id="8">Blitzcrank</li>
    <li id="9">Brand</li>
    <li id="10">Caitlyn</li>
    <li id="11">Cassiopeia</li>
    <li id="12">Cho'Gath</li>
    <li id="13">Corki</li>
    <li id="14">Dr. Mundo</li>
    <li id="15">Evelynn</li>
    <li id="16">Ezreal</li>
    <li id="17">Fiddlesticks</li>
    <li id="18">Fizz</li>
    <li id="19">Galio</li>
    <li id="20">Gangplank</li>
    <li id="21">Garen</li>
    <li id="22">Gragas</li>
    <li id="23">Graves</li>
    <li id="24">Heimerdinger</li>
    <li id="25">Irelia</li>
    <li id="26">Janna</li>
    <li id="27">Jarvan IV</li>
    <li id="28">Jax</li>
    <li id="29">Karma</li>
    <li id="30">Karthus</li>
    <li id="31">Kassadin</li>
    <li id="32">Katarina</li>
    <li id="33">Kayle</li>
    <li id="34">Kennen</li>
    <li id="35">Kog'Maw</li>
    <li id="36">LeBlanc</li>
    <li id="37">Lee Sin</li>
    <li id="38">Leona</li>
    <li id="39">Lux</li>
    <li id="40">Malphite</li>
    <li id="41">Malzahar</li>
    <li id="42">Maokai</li>
    <li id="43">Master Yi</li>
    <li id="44">Miss Fortune</li>
    <li id="45">Mordekaiser</li>
    <li id="46">Morgana</li>
    <li id="47">Nasus</li>
    <li id="48">Nidalee</li>
    <li id="49">Nocturne</li>
    <li id="50">Nunu</li>
    <li id="51">Olaf</li>
    <li id="52">Orianna</li>
    <li id="53">Pantheon</li>
    <li id="54">Poppy</li>
    <li id="55">Rammus</li>
    <li id="56">Renekton</li>
    <li id="57">Riven</li>
    <li id="58">Rumble</li>
    <li id="59">Ryze</li>
    <li id="60">Shaco</li>
    <li id="61">Shen</li>
    <li id="62">Shyvana</li>
    <li id="63">Singed</li>
    <li id="64">Sion</li>
    <li id="65">Sivir</li>
    <li id="66">Skarner</li>
    <li id="67">Sona</li>
    <li id="68">Soraka</li>
    <li id="69">Swain</li>
    <li id="70">Talon</li>
    <li id="71">Taric</li>
    <li id="72">Teemo</li>
    <li id="73">Tristana</li>
    <li id="74">Trundle</li>
    <li id="75">Tryndamere</li>
    <li id="76">Twisted Fate</li>
    <li id="77">Twitch</li>
    <li id="78">Udyr</li>
    <li id="79">Urgot</li>
    <li id="80">Vayne</li>
    <li id="81">Veigar</li>
    <li id="82">Vladimir</li>
    <li id="83">Volibear</li>
    <li id="84">Warwick</li>
    <li id="85">Wukong</li>
    <li id="86">Xerath</li>
    <li id="87">Xin Zhao</li>
    <li id="88">Yorick</li>
    <li id="89">Zilean</li>
  </ul>
  <ul id="items">
    <li id="90">Abyssal Scepter</li>
    <li id="91">Aegis of the Legion</li>
    <li id="92">Amplifying Tome</li>
    <li id="93">Ancient Pocket Watch</li>
    <li id="94">Archangel's Staff</li>
    <li id="95">Atma's Impaler</li>
    <li id="96">Avarice Blade</li>
    <li id="97">B. F. Sword</li>
    <li id="98">Bag of Tea</li>
    <li id="99">Banshee's Veil</li>
    <li id="100">Berserker's Greaves</li>
    <li id="101">Bilgewater Cutlass‎</li>
    <li id="102">Blasting Wand</li>
    <li id="103">Blue Pill</li>
    <li id="104">Boots of Mobility</li>
    <li id="105">Boots of Speed</li>
    <li id="106">Boots of Swiftness</li>
    <li id="107">Brawler's Gloves</li>
    <li id="108">Breathstealer</li>
    <li id="109">Catalyst the Protector</li>
    <li id="110">Chain Vest</li>
    <li id="111">Chalice of Harmony</li>
    <li id="112">Cloak and Dagger</li>
    <li id="113">Cloak of Agility</li>
    <li id="114">Cloth Armor</li>
    <li id="115">Dagger</li>
    <li id="116">Deathfire Grasp</li>
    <li id="117">Doran's Blade</li>
    <li id="118">Doran's Ring</li>
    <li id="119">Doran's Shield</li>
    <li id="120">Eleisa's Miracle</li>
    <li id="121">Elixir of Agility</li>
    <li id="122">Elixir of Brilliance</li>
    <li id="123">Elixir of Fortitude</li>
    <li id="124">Emblem of Valor</li>
    <li id="125">Entropy</li>
    <li id="126">Executioner's Calling</li>
    <li id="127">Faerie Charm</li>
    <li id="128">Fiendish Codex</li>
    <li id="129">Force of Nature</li>
    <li id="130">Frozen Heart</li>
    <li id="131">Frozen Mallet</li>
    <li id="132">Giant's Belt</li>
    <li id="133">Glacial Shroud</li>
    <li id="134">Guardian Angel</li>
    <li id="135">Guinsoo's Rageblade</li>
    <li id="136">Haunting Guise</li>
    <li id="137">Health Potion</li>
    <li id="138">Heart of Gold</li>
    <li id="139">Hexdrinker‎</li>
    <li id="140">Hextech Gunblade‎</li>
    <li id="141">Hextech Revolver‎</li>
    <li id="142">Hextech Sweeper</li>
    <li id="143">Infinity Edge</li>
    <li id="144">Innervating Locket</li>
    <li id="145">Ionian Boots of Lucidity</li>
    <li id="146">Ionic Spark</li>
    <li id="147">Kage's Lucky Pick</li>
    <li id="148">Kindlegem</li>
    <li id="149">Kitae's Bloodrazor</li>
    <li id="150">Last Whisper</li>
    <li id="151">Leviathan</li>
    <li id="152">Lich Bane</li>
    <li id="153">Long Sword</li>
    <li id="154">Madred's Bloodrazor</li>
    <li id="155">Madred's Razors</li>
    <li id="156">Malady</li>
    <li id="157">Mana Manipulator</li>
    <li id="158">Mana Potion</li>
    <li id="159">Manamune</li>
    <li id="160">Marksman's Rifle</li>
    <li id="161">Mejai's Soulstealer</li>
    <li id="162">Meki Pendant</li>
    <li id="163">Mercury's Treads</li>
    <li id="164">Moonflair Spellblade</li>
    <li id="165">Morello's Evil Tome</li>
    <li id="166">Nashor's Tooth</li>
    <li id="167">Needlessly Large Rod</li>
    <li id="168">Negatron Cloak</li>
    <li id="169">Ninja Tabi</li>
    <li id="170">Null-Magic Mantle</li>
    <li id="171">Odyn's Veil</li>
    <li id="172">Oracle's Elixir</li>
    <li id="173">Oracle's Extract</li>
    <li id="174">Oracle's Hood</li>
    <li id="175">Phage</li>
    <li id="176">Phantom Dancer</li>
    <li id="177">Philosopher's Stone</li>
    <li id="178">Pickaxe</li>
    <li id="179">Priscilla's Blessing</li>
    <li id="180">Prospector's Blade</li>
    <li id="181">Prospector's Ring</li>
    <li id="182">Quicksilver Sash</li>
    <li id="183">Rabadon's Deathcap</li>
    <li id="184">Randuin's Omen</li>
    <li id="185">Recurve Bow</li>
    <li id="186">Regrowth Pendant</li>
    <li id="187">Rejuvenation Bead</li>
    <li id="188">Rod of Ages</li>
    <li id="189">Ruby Crystal</li>
    <li id="190">Rylai's Crystal Scepter</li>
    <li id="191">Sage's Ring</li>
    <li id="192">Sanguine Blade</li>
    <li id="193">Sapphire Crystal</li>
    <li id="194">Sheen</li>
    <li id="195">Shurelya's Reverie</li>
    <li id="196">Sight Ward</li>
    <li id="197">Sorcerer's Shoes</li>
    <li id="198">Soul Shroud</li>
    <li id="199">Spirit Visage</li>
    <li id="200">Stark's Fervor</li>
    <li id="201">Stinger</li>
    <li id="202">Sunfire Cape</li>
    <li id="203">Sword of the Divine</li>
    <li id="204">Sword of the Occult</li>
    <li id="205">Tear of the Goddess</li>
    <li id="206">The Black Cleaver</li>
    <li id="207">The Bloodthirster</li>
    <li id="208">The Brutalizer</li>
    <li id="209">The Lightbringer</li>
    <li id="210">Thornmail</li>
    <li id="211">Tiamat</li>
    <li id="212">Trinity Force</li>
    <li id="213">Vampiric Scepter</li>
    <li id="214">Vision Ward</li>
    <li id="215">Void Staff</li>
    <li id="216">Warden's Mail</li>
    <li id="217">Warmog's Armor</li>
    <li id="218">Will of the Ancients</li>
    <li id="219">Wit's End</li>
    <li id="220">Wriggle's Lantern</li>
    <li id="221">Yordle Stompers</li>
    <li id="222">Youmuu's Ghostblade</li>
    <li id="223">Zeal</li>
    <li id="224">Zhonya's Hourglass</li>
    <li id="225">Zhonya's Ring</li>
  </ul>
</div>