<div id="search-data">
  <div id="no-data">Woops, we couldn't find any data!</div>
  
  <div id="data-found"></div>
  
  <div class="search-result-template original-template">
    <a href="#" class="url-search-link"><h2 id="current-search-header"></h2></a>

    <%= render "vote/counterpicks_section" %>

    <section id="general-data">
      <div id="data"></div>
    </section>
  </div>
</div>