<div id="search-data">
  <div id="no-data">
    Woops, we couldn't find any data!
  </div>
  
  <div id="data-found">

  </div>
  
  <div class="search-result-template original-template">
    <h2 id="current-search-header"></h2>

    <section id="counter-picks">
      <b>Counter Picks:</b>
      <ol></ol>
    </section>

    <section id="general-data">
      <div id="data"></div>
    </section>
  </div>
</div>