<div id="search-data">
  <h2 id="current-search-header"></h2>
  
  <div id="no-data">
    Woops, we couldn't find any data!
  </div>
  
  <div id="data-found">
    <section id="counter-picks">
      <h3>Counter Picks</h3>
      <ol></ol>
    </section>

    <section id="general-data">
      <h3>General Information</h3>
      <div id="data"></div>
    </section>
  <div>
</div>