<div id="search-data">
  <div id="no-data">Woops, we couldn't find any data!</div>
  
  <div id="data-found"></div>
  
  <div class="search-result-template original-template">
    <a href="#" class="url-search-link"><h2 id="current-search-header"></h2></a>

    <section id="counter-picks">
	
      <b>Counter Picks <i>(work in progress)</i></b>
      <ol></ol>

			<div id="counterpicks-forums">
				<h3>Derived from Forums</h3>
				<ul>
					<li>Viktor</li>
					<li>Kennen</li>
					<li>Talon</li>
				</ul>
			</div>
			<!-- #counterpicks-forums -->
			
			<div id="counterpicks-community">
				<h3>Community-Voted</h3>
				<ul>
					<li>Ahri</li>
					<li>Sion</li>
					<li>Nasus</li>
				</ul>
			</div>
			<!-- #counterpicks-community -->
			
			<div id="counterpicks-vote">
				<h3>Vote on Counterpicks</h3>
				<ul>
					<li>
						<select>
							<option>Counterpick #1</option>
							<option>Janna</option>
							<option>Urgot</option>
						</select>
						<select>
							<option>Reason</option>
							<option>Stealth detection.</option>
							<option>True damage.</option>
							<option>Knock-back/knock-up.</option>
							<option>Silence.</option>
							<option>Stun.</option>
							<option>Gap-closer.</option>
							<option>Burst damage.</option>
							<option>Spell shield.</option>
							<option>Maneuverability/mobility.</option>
							<option>Percent-life-based damage.</option>
							<option>Durable/tanky.</option>
							<option>Healing reduction.</option>
							<option>Slows.</option>
							<option>Long-range.</option>
							<option>General crowd control.</option>
							<option>Healing.</option>
							<option>Strong early game.</option>.
							<option>Strong late game.</option>
							<option>Harassing.</option>
							<option>Deny farm.</option>
							<option>Blink skills or wall-jumping.</option>
							<option>Cleanse-like skills.</option>
							<option>Attack speed reduction.</option>
							<option>Lifesteal.</option>
							<option>Map control.</option>
							<option>Damage-over-time.</option>
						</select>
					</li>
					<li>
						<select>
							<option>Counterpick #2</option>
							<option>Janna</option>
							<option>Urgot</option>
						</select>
						<select>
							<option>Reason</option>
							<option>Can't be bursted.</option>
							<option>Vulnerable to silence.</option>
						</select>
					</li>
					<li>
						<select>
							<option>Counterpick #3</option>
							<option>Janna</option>
							<option>Urgot</option>
						</select>
						<select>
							<option>Reason</option>
							<option>Can't be bursted.</option>
							<option>Vulnerable to silence.</option>
						</select>
					</li>
				</ul>
				<a href="#" class="button">Save</a>
			</div>
			<!-- #counterpicks-vote -->
			
			<div id="counterpicks-login">
				<h3>Login to cast your vote!</h3>
				<a href="#" class="button">Login</a>
				<a href="#" class="button">Create an Account</a>
			</div>
			<!-- #counterpicks-vote -->

    </section>

    <section id="general-data">
      <div id="data"></div>
    </section>
  </div>
</div>