<h3>About Soloqueue</h3>

<p>Soloqueue is a <a href="http://leagueoflegends.com">League of Legends</a> information database built to make it quick and easy to find the info you're looking for.</p>

<p>We're building Soloqueue because of the lack of easy to use, consolidated LOL information sources.  There are a lot of sites out there that provide nuggets of useful information, but they're spread across the internet, tough to find if you don't know what you're looking for, and difficult to use.  Hopefully Soloqueue will help address these issues.</p>

<p>This is a work in progress that we're building in our free time.  We have a lot of plans for Soloqueue, so if you have any ideas or thoughts, please let us know.</p>

<p>We currently make use of the <a href="http://leagueoflegends.wikia.com/">League Of Legends Wikia page</a> through the Wikia API to provide basic champ and item data.</p>