<h3>Damage Calculator</h3>

<p>Jason will put some instructions and info here on how to use the damage calc and its purpose.</p>

<ul id="damageCalc">
	<li>
		<label for="damageValue">Your Skill's Base Damage</label>
		<input id="damageValue" name="damageValue" type="text" />
	</li>
	<li>
		<label for="damageStat">Your Skill's Damage Stat</label>
		<input id="damageStat" name="damageStat" type="text" />
	</li>
	<li>
		<label for="damageScaling">Your Skill's Damage Scaling</label>
		<input id="damageScaling" name="damageScaling" type="text" />
	</li>
	<li>
		<label for="resist">Target's Armor or Magic Resist</label>
		<input id="resist" name="resist" type="text" />
	</li>
	<li>
		<label for="resistReduxPercent">Your Percent Armor or Magic Resist Reduction</label>
		<input id="resistReduxPercent" name="resistReduxPercent" type="text" />
	</li>
	<li>
		<label for="resistReduxFlat">Your Flat Armor or Magic Resist Reduction</label>
		<input id="resistReduxFlat" name="resistReduxFlat" type="text" />
	</li>
	<li>
		<label for="resistPenFlat">Your Flat Armor or Magic Resist Penetration</label>
		<input id="resistPenFlat" name="resistPenFlat" type="text" />
	</li>
	<li>
		<label for="resistPenPercent">Your Percent Armor or Magic Resist Penetration</label>
		<input id="resistPenPercent" name="resistPenPercent" type="text" />
	</li>
	<li>
	  <input type="submit" value="Calculate damage!" />
	</li>
	<li>
	  <div id="damageResult">
    	&nbsp;
    </div>
	</li>
</ul>