<form onSubmit="return false;">
  <input type="text" id="search" autocomplete="off" placeholder="Start typing a champion's name here...">
  <ul id="champions">
    <li id="1">Akali</li>
    <li id="2">Alistar</li>
    <li id="3">Amumu</li>
    <li id="4">Anivia</li>
    <li id="5">Annie</li>
    <li id="6">Ashe</li>
    <li id="7">Blitzcrank</li>
    <li id="8">Brand</li>
    <li id="9">Caitlyn</li>
    <li id="10">Cassiopeia</li>
    <li id="11">Cho'Gath</li>
    <li id="12">Corki</li>
    <li id="13">Dr. Mundo</li>
    <li id="14">Evelynn</li>
    <li id="15">Ezreal</li>
    <li id="16">Fiddlesticks</li>
    <li id="17">Galio</li>
    <li id="18">Gangplank</li>
    <li id="19">Garen</li>
    <li id="20">Gragas</li>
    <li id="21">Heimerdinger</li>
    <li id="22">Irelia</li>
    <li id="23">Janna</li>
    <li id="24">Jarvan IV</li>
    <li id="25">Jax</li>
    <li id="26">Karma</li>
    <li id="27">Karthus</li>
    <li id="28">Kassadin</li>
    <li id="29">Katarina</li>
    <li id="30">Kayle</li>
    <li id="31">Kennen</li>
    <li id="32">Kog'Maw</li>
    <li id="33">LeBlanc</li>
    <li id="34">Lee Sin</li>
    <li id="35">Leona</li>
    <li id="36">Lux</li>
    <li id="37">Malphite</li>
    <li id="38">Malzahar</li>
    <li id="39">Maokai</li>
    <li id="40">Master Yi</li>
    <li id="41">Miss Fortune</li>
    <li id="42">Mordekaiser</li>
    <li id="43">Morgana</li>
    <li id="44">Nasus</li>
    <li id="45">Nidalee</li>
    <li id="46">Nocturne</li>
    <li id="47">Nunu</li>
    <li id="48">Olaf</li>
    <li id="49">Orianna</li>
    <li id="50">Pantheon</li>
    <li id="51">Poppy</li>
    <li id="52">Rammus</li>
    <li id="53">Renekton</li>
    <li id="54">Riven</li>
    <li id="55">Rumble</li>
    <li id="56">Ryze</li>
    <li id="57">Shaco</li>
    <li id="58">Shen</li>
    <li id="59">Singed</li>
    <li id="60">Sion</li>
    <li id="61">Sivir</li>
    <li id="62">Skarner</li>
    <li id="63">Sona</li>
    <li id="64">Soraka</li>
    <li id="65">Swain</li>
    <li id="66">Talon</li>
    <li id="67">Taric</li>
    <li id="68">Teemo</li>
    <li id="69">Tristana</li>
    <li id="70">Trundle</li>
    <li id="71">Tryndamere</li>
    <li id="72">Twisted Fate</li>
    <li id="73">Twitch</li>
    <li id="74">Udyr</li>
    <li id="75">Urgot</li>
    <li id="76">Vayne</li>
    <li id="77">Veigar</li>
    <li id="78">Vladimir</li>
    <li id="79">Warwick</li>
    <li id="80">Wukong</li>
    <li id="81">Xerath</li>
    <li id="82">Xin Zhao</li>
    <li id="83">Yorick</li>
    <li id="84">Zilean</li>
  </ul>
</form>

<section id="counter-picks">
  <h3></h3>
  <ol></ol>
</section>