<form onSubmit="return false;">
  <input type="text" id="search" autocomplete="off" placeholder="Start typing a champion's name here...">
  <ul id="search-results"></ul>
</form>

<section id="counter-picks">
  <h3>Counter Picks</h3>
  <ol></ol>
</section>