<div id="masteries">
	
	<div id="masteries-offensive">
		
		<div class="masteries-1">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				3
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-offensive -->
	
	<div id="masteries-defensive">
		
		<div class="masteries-1">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				3
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
	
	</div>
	<!-- #masteries-defensive -->
	
	<div id="masteries-utility">
		
		<div class="masteries-1">
			<div class="mastery">
				1
			</div>
			<!-- .mastery -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery">
				4
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				2
			</div>
			<!-- .mastery -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				1
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				2
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				3
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				4
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-utility -->

</div>
<!-- #masteries -->