<div id="masteries">
	
	<h3>Masteries Calculator</h3>
	
	<p>
	  Use the Masteries Calculator to build the perfect masteries trees for 
	  whatever champ your building. Share your build with your friends for 
	  their approval or to help them out!
	</p>
	
	<div id="mastery-points">
		Remaining Points: <span id="remaining">30</span>/<span id="total">30</span>
		<span id="reset-points" class="button">Reset Points</span><!-- #reset-points -->
	</div>
	<!-- #mastery-points -->
	
	<div id="masteries-offensive">
		<div class="masteries-1">
			<div id="summoners-wrath" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Summoner's Wrath</h3>
					<p>Improves the following summoner spells:</p>
					<ul>
						<li><strong>Exhaust:</strong> Reduces the target's armor and magic resistance by 10.</li>
						<li><strong>Ignite:</strong> Increases ability power and attack damage by 5 while on cooldown.</li>
						<li><strong>Surge:</strong> Increases attack speed bonus to 40% and ability power gained by 10%.</li>
						<li><strong>Ghost:</strong> Increases movement speed bonus to 35%.</li>
					</ul>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="brute-force" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Brute Force</h3>
					<p>Increases your champion's attack damage by 1. (3 at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="mental-force" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Mental Force</h3>
					<p>Increases your champion's ability power by 1. (4 at rank 4)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="butcher" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Butcher</h3>
					<p>Increases the damage you deal to minions and monsters by 2. (4 at rank 2)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="alacrity" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Alacrity</h3>
					<p>Increases your champion's attack speed by 1/2/3/4%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="sorcery" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Sorcery</h3>
					<p>Increases cooldown reduction by 1%. (4% at rank 4)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="demolitionist" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Demolitionist</h3>
					<p>Your basic attacks deal 10 more physical damage to turrets.</p>
				</div>
				<!-- #tooltip -->	
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div id="deadliness" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Deadliness</h3>
					<p>Increases your champion's critical strike chance by 1%. (4% at rank 4)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="weapon-expertise" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Weapon Expertise</h3>
					<p>Gives 10% armor penetration.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="arcane-knowledge" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Arcane Knowledge</h3>
					<p>Grants 10% magic penetration.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="havoc" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Havoc</h3>
					<p>Increases damage dealt by 0.5%. (1.5% at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div id="lethality" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Lethality</h3>
					<p>Increases critical strike damage by 10%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="vampirism" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Vampirism</h3>
					<p>Gives 1% lifesteal (3% at rank 3).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="blast" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Blast</h3>
					<p>Increases ability power by 0.25 per level. (1 per level at rank 4)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="sunder" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Sunder</h3>
					<p>Gives 2 armor penetration (6 at rank 3).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="archmage" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Archmage</h3>
					<p>Increases your ability power by 1.25% (5% at rank 4). </p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="executioner" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Executioner</h3>
					<p>Increases damage on targets below 40% health by 6%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
		<div id="offense-points">
			Offense Points: <span class="spent">0</span>
		</div>
		<!-- #mastery-points -->
		
	</div>
	<!-- #masteries-offensive -->
	
	<div id="masteries-defensive">
		
		<div class="masteries-1">
			<div id="summoners-resolve" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Summoner's Resolve</h3>
					<p>Improves the following summoner spells:</p>
					<ul>
				    <li><strong>Revive:</strong> Grants a massive movement speed boost for a short duration upon reviving.</li>
				    <li><strong>Cleanse:</strong> Increases duration of disable reduction by 1 second.</li>
				    <li><strong>Heal:</strong> Increases health restored by 10%.</li>
				    <li><strong>Smite:</strong> Grants 10 bonus gold upon use.</li>
				    <li><strong>Garrison:</strong> Allied Garrisoned towers deal 50% splash damage.</li>
					</ul>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->				
			</div>
			<!-- .mastery -->
			<div id="resistance" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Resistance</h3>
					<p>Increases your champion's magic resist by 2. (6 at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="hardiness" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Hardiness</h3>
					<p>Increases your champion's armor by 2. (6 at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="tough-skin" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Tough Skin</h3>
					<p>Reduces damage from minions and monsters by 1. (2 at rank 2)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="durability" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Durability</h3>
					<p>Increases your champion's health by 1.5 per level (6 per level at rank 4). At rank 4 this translates to an additional 108 health at champion level 18.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="vigor" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Vigor</h3>
					<p>Increases your champion's Health Regen by 1. ( 3 at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div id="indomitable" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Indomitable</h3>
					<p>Reduces incoming damage by 1 (2 at rank 2). </p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="veterans-scars" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Veteran's Scars</h3>
					<p>Increases your champion's health by 30.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="evasion" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Evasion</h3>
					<p>Reduces the damage taken from Area of effect abilities by 1%. (3% at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="bladed-armor" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Bladed Armor</h3>
					<p>Return 6 magical damage against minion and monster attacks.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div id="siege-commander" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Siege Commander</h3>
					<p>Reduces the armor of nearby towers by 10 (does not stack).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="initiator" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Initiator</h3>
					<p>Increases Movement Speed by 1% when above 70% Health (3% at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="enlightenment" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Enlightenment</h3>
					<p>Increases cooldown reduction by .15% per level (.45% at rank 3). This translates to 8.1% at rank 3 at champion level 18.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="honor-guard" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Honor Guard</h3>
					<p>Reduces damage taken by .5% (1.5% at rank 3).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="mercenary" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Mercenary</h3>
					<p>Gain 8 bonus gold on champion kills and assists (24 at rank 3). 50% reduced on the Crystal Scar.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="juggernaut" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Juggernaut</h3>
					<p>Increases your maximum health by 3% and reduces the duration of incoming disables by 10%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->

		<div id="defense-points">
			Defense Points: <span class="spent">0</span>
		</div>
		<!-- #mastery-points -->
	
	</div>
	<!-- #masteries-defensive -->
	
	<div id="masteries-utility">
		
		<div class="masteries-1">
			<div id="summoners-insight" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Summoner's Insight</h3>
					<p>Improves the following summoner spells:</p>
					<ul>
				    <li><strong>Teleport:</strong> Reduces cast time by 1 second.</li>
				    <li><strong>Promote:</strong> Increases promoted minion's bonus defensive stats by 15%.</li>
				    <li><strong>Flash:</strong> Reduces cooldown by 15 seconds.</li>
				    <li><strong>Clarity:</strong> Increases mana restored by 20%.</li>
				    <li><strong>Clairvoyance:</strong> Increases duration by 2 seconds.</li>
					</ul>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="good-hands" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Good Hands</h3>
					<p>Reduces time spent dead by 4/7/10%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="expanded-mind" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Expanded Mind</h3>
					<p>On champions that use mana, increases mana by 4 per level gained (12 at rank 3). This translates to 72 mana at lvl 18 with rank 1 (216 at lvl 18 with rank 3).</p>
			    <p>On champions that use energy, increases energy by 4/7/10.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="improved-recall" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Improved Recall</h3>
					<p>Reduces cast time of Recall by 1 second (0.5 seconds for Enhanced Recall).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="swiftness" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Swiftness</h3>
					<p>Increases movement speed by 0.5%. (2% at rank 4)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="meditation" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Meditation</h3>
					<p>Increases mana regeneration per 5 by 1. (3 mp5 at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="scout" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Scout</h3>
					<p>Increases vision range of wards by 5%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="greed" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Greed</h3>
					<p>Increases vision range of wards by 5%.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="transmutation" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Transmutation</h3>
					<p>Increases spell vamp by 1%. (3% at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="runic-affinity" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Runic Affinity</h3>
					<p>Increases all neutral buff duration by 20%. These include:</p>
					<ul>
						<li>Crest of the Ancient Golem</li>
						<li>Blessing of the Lizard Elder</li>
						<li>Exalted with Baron Nashor</li>
						<li>Crest of Crushing Wrath</li>
						<li>Crest of Nature's Fury</li>
						<li>Crest of Flowing Water</li>
						<li>Speed Shrines</li>
						<li>Storm Shield</li>
					</ul>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="wealth" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Wealth</h3>
					<p>Increases starting gold by 20 (40 at rank 2).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="awareness" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Awareness</h3>
					<p>Increases experience gained by 1.25% (5% at rank 4).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="sage" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Sage</h3>
					<p>Gain 40 bonus experience on kills and assists (50% reduced effectiveness on the Crystal Scar).</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="strength-of-spirit" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Strength of Spirit</h3>
					<p>Increases health regeneration per 5 seconds by 0.4/0.7/1% of your maximum mana.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="intelligence" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Intelligence</h3>
					<p>Increases cooldown reduction by 2%. (6% at rank 3)</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="mastermind" class="mastery">
				<div class="icon">
					&nbsp;
				</div>
				<!-- .icon -->
				<div class="tooltip">
					<h3>Mastermind</h3>
					<p>Reduces summoner spell cooldowns by 15%. Applied before other summoner spells cooldown reductions.</p>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
		<div id="utility-points">
			Utility Points: <span class="spent">0</span>
		</div>
		<!-- #mastery-points -->
		
	</div>
	<!-- #masteries-utility -->

</div>
<!-- #masteries -->