<div id="masteries">
	
	<div id="mastery-points">
		Total Points: <span id="remaining">30</span>/<span id="total">30</span>
	</div>
	<!-- #mastery-points -->
	
	<div id="offense-points">
		Offense Points: <span class="spent">0</span>
	</div>
	<!-- #mastery-points -->
	
	<div id="defense-points">
		Defense Points: <span class="spent">0</span>
	</div>
	<!-- #mastery-points -->
	
	<div id="utility-points">
		Utility Points: <span class="spent">0</span>
	</div>
	<!-- #mastery-points -->
	
	<div id="masteries-offensive">
		
		<div class="masteries-1">
			<div id="summoners-wrath" class="mastery">
				<div class="tooltip">
					<h3>Summoner's Wrath</h3>
					<p>Improves the following summoner spells:</p>
					<ul>
						<li><strong>Exhaust:</strong> Reduces the target's armor and magic resistance by 10.</li>
						<li><strong>Ignite:</strong> Increases ability power and attack damage by 5 while on cooldown.</li>
						<li><strong>Surge:</strong> Increases attack speed bonus to 40% and ability power gained by 10%.</li>
						<li><strong>Ghost:</strong> Increases movement speed bonus to 35%</li>
					</ul>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="brute-force" class="mastery">
				<div class="tooltip">
					<h3>Brute Force</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="mental-force" class="mastery">
				<div class="tooltip">
					<h3>Mental Force</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="butcher" class="mastery">
				<div class="tooltip">
					<h3>Butcher</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="alacrity" class="mastery">
				<div class="tooltip">
					<h3>Alacrity</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="sorcery" class="mastery">
				<div class="tooltip">
					<h3>Sorcery</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="demolitionist" class="mastery">
				<div class="tooltip">
					<h3>Demolitionist</h3>
				</div>
				<!-- #tooltip -->	
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div id="deadliness" class="mastery">
				<div class="tooltip">
					<h3>Deadliness</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="weapon-expertise" class="mastery">
				<div class="tooltip">
					<h3>Weapon Expertise</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="arcane-knowledge" class="mastery">
				<div class="tooltip">
					<h3>Arcane Knowledge</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="havoc" class="mastery">
				<div class="tooltip">
					<h3>Havoc</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div id="lethality" class="mastery">
				<div class="tooltip">
					<h3>Lethality</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="vampirism" class="mastery">
				<div class="tooltip">
					<h3>Vampirism</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="blast" class="mastery">
				<div class="tooltip">
					<h3>Blast</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="sunder" class="mastery">
				<div class="tooltip">
					<h3>Sunder</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="archmage" class="mastery">
				<div class="tooltip">
					<h3>Archmage</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="executioner" class="mastery">
				<div class="tooltip">
					<h3>Executioner</h3>
				</div>
				<!-- #tooltip -->
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-offensive -->
	
	<div id="masteries-defensive">
		
		<div class="masteries-1">
			<div id="summoners-resolve" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->				
			</div>
			<!-- .mastery -->
			<div id="resistance" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="hardiness" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="tough-skin" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="durability" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="vigor" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div id="indomitable" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="veterans-scars" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="evasion" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="bladed-armor" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div id="siege-commander" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="initiator" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="enlightenment" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="honor-guard" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="mercenary" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="juggernaut" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
	
	</div>
	<!-- #masteries-defensive -->
	
	<div id="masteries-utility">
		
		<div class="masteries-1">
			<div id="summoners-insight" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="good-hands" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="expanded-mind" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="improved-recall" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="swiftness" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="meditation" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="scout" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="greed" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="transmutation" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="runic-affinity" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="wealth" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="awareness" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="sage" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="strength-of-spirit" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div id="intelligence" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div id="mastermind" class="mastery">
				<div class="value">
					<span class="current">0</span>/<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-utility -->

</div>
<!-- #masteries -->