<div id="masteries">
	
	<div id="mastery-points">
		<span id="remaining">30</span>
		<span id="total">30</span>
	</div>
	<!-- #mastery-points -->
	
	<div id="masteries-offensive">
		
		<div class="masteries-1">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-offensive -->
	
	<div id="masteries-defensive">
		
		<div class="masteries-1">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->				
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
	
	</div>
	<!-- #masteries-defensive -->
	
	<div id="masteries-utility">
		
		<div class="masteries-1">
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-1 -->
		
		<div class="masteries-2">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-2 -->
		
		<div class="masteries-3">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-3 -->
		
		<div class="masteries-4">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">2</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">4</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
		</div>
		<!-- .masteries-4 -->
		
		<div class="masteries-5">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">3</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-5 -->
		
		<div class="masteries-6">
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
			<div class="mastery">
				<div class="value">
					<span class="current">0</span>/
					<span class="maximum">1</span>
				</div>
				<!-- .value -->
			</div>
			<!-- .mastery -->
			<div class="mastery-blank">
				&nbsp;
			</div>
			<!-- .mastery-blank -->
		</div>
		<!-- .masteries-6 -->
		
	</div>
	<!-- #masteries-utility -->

</div>
<!-- #masteries -->