<style>
	body {
		margin: 0;
		padding: 60px;
		font-size: 14px;
		line-height: 20px;
		font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	}
	ul#damageCalc {
		display: block;
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	ul li {
		display: block;
		float: left;
		width: 300px;
		margin: 0 40px 0 0;
		cursor: pointer;
		-moz-box-sizing: border-box;
	}
	ul li label {
		display: block;
		float: left;
		width: 100%;
	}
	ul li input {
		display: block;
		float: left;
		width: 300px;
		padding: 6px 6px 5px 6px;
		margin: 0 0 20px 0;
		font-size: 14px;
		line-height: 20px;
		font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
		-moz-box-sizing: border-box;
	}
	#damageResult {
		display: block;
		float: left;
		width: 100%;	
	}
</style>

<ul id="damageCalc">
	<li>
		<label for="damageValue">Your Skill's Base Damage</label>
		<input id="damageValue" name="damageValue" type="text" />
	</li>
	<li>
		<label for="damageStat">Your Skill's Damage Stat</label>
		<input id="damageStat" name="damageStat" type="text" />
	</li>
	<li>
		<label for="damageScaling">Your Skill's Damage Scaling</label>
		<input id="damageScaling" name="damageScaling" type="text" />
	</li>
	<li>
		<label for="resist">Target's Armor or Magic Resist</label>
		<input id="resist" name="resist" type="text" />
	</li>
	<li>
		<label for="resistReduxPercent">Your Percent Armor or Magic Resist Reduction</label>
		<input id="resistReduxPercent" name="resistReduxPercent" type="text" />
	</li>
	<li>
		<label for="resistReduxFlat">Your Flat Armor or Magic Resist Reduction</label>
		<input id="resistReduxFlat" name="resistReduxFlat" type="text" />
	</li>
	<li>
		<label for="resistPenFlat">Your Flat Armor or Magic Resist Penetration</label>
		<input id="resistPenFlat" name="resistPenFlat" type="text" />
	</li>
	<li>
		<label for="resistPenPercent">Your Percent Armor or Magic Resist Penetration</label>
		<input id="resistPenPercent" name="resistPenPercent" type="text" />
	</li>
	<li>
		<input type="submit" value="Calculate damage!" />
	</li>
</ul>
<!-- #damageCalc -->

<div id="damageResult">
	&nbsp;
</div>
<!-- #damageResult -->