@import "compass/utilities/general/clearfix";

*:focus { outline: none !important; }
* { margin: 0px; padding: 0px; }

body {
	font-family: Lato, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
	line-height: 22px;
	color: #666; 
}

a         { color: #666; text-decoration: none; }
a:hover   { color: #C21F1F; }
a:active  { outline: none; }
a:focus   { -moz-outline-style: none; }

input { 
  color: #666;
	font-family: Lato, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
	line-height: 22px;
}
input:focus, button:focus { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }

#left-section {
  display: none;
  width: 220px;
  height: 100%;
  position: fixed;
  
  header {
    width: 100%;
    height: 30px;
    position: fixed;
    z-index: 10000;
    padding: 10px;
    background: #464646;
    box-shadow: 0px 1px 1px rgba(0,0,0,.5);
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.5);
    background-image: linear-gradient(bottom, rgb(0,0,0) 7%, rgb(31,33,33) 81%);
    background-image: -o-linear-gradient(bottom, rgb(0,0,0) 7%, rgb(31,33,33) 81%);
    background-image: -moz-linear-gradient(bottom, rgb(0,0,0) 7%, rgb(31,33,33) 81%);
    background-image: -webkit-linear-gradient(bottom, rgb(0,0,0) 7%, rgb(31,33,33) 81%);
    background-image: -ms-linear-gradient(bottom, rgb(0,0,0) 7%, rgb(31,33,33) 81%);
        
    h1 {
      display: inline-block;
      margin-left: 14px;
      font-size: 35px;
      color: #efefef;
      text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
      -webkit-text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
      -moz-text-shadow: 0px 1px 3px rgba(255, 255, 255, 0.4);
      cursor: pointer;
    }
    
    aside {
      float: right;
      margin-top: 5px;
      
      .fb-like {
        position: absolute;
        margin-top: 0px;
        margin-left: 135px;
      }
      
      iframe {
        width: 135px !important;
        position: absolute;
        margin-left: -235px;
        margin-top: 0px;
      }
    }
  }
      
  form {
    margin-top: 55px;
    margin-bottom: 5px;
    padding: 10px;
    
    input#search {
      width: 180px;
      height: 29px;
		  font-size: 14px;
			line-height: 22px;
			padding: 0 7px 3px;
      border: solid 1px #cecfd1;
      
      &.loading {
        background: url(/assets/loading.gif) no-repeat;
        background-position: 175px 5px;
      }
    }
  }
  
  #list-holder {
    padding: 10px;
    padding-top: 0px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;

    li {
      margin-bottom: 10px;
      cursor: pointer;
      
      &.active {
        font-weight: bold;
        color: #000;
        text-decoration: underline;
      }
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#right-section {
  display: none;
  position: absolute;
  margin-left: 220px;
  padding: 10px;
  margin-top: 61px;
  
  #welcome {
    text-align: left;
    width: 600px;
  }
  
  #search-data {
    display: none;
    
    #no-data {
      text-align: center;
    }
    
    h2 {
      font-size: 25px;
      margin-top: 20px;
      color: #21231D;
      border-bottom: solid 3px;
      padding-bottom: 5px;
      
      &:first-child {
        margin-top: -3px;
      }
    }
    
    .original-template { display: none; }
    
    #data-found {
      section {
        margin-top: 20px;
        
        h3 {
          margin-bottom: 10px;
          color: #005A99;
        }
      }
      
      .search-result-template {
        margin-bottom: 20px;
      }
      
      #counter-picks {
				width: 100%;
				@include legacy-pie-clearfix;
        b { float: left; margin-right: 10px; }
        ol li {
          float: left;
          margin-bottom: 5px;
          margin-right: 5px;
          margin-left: 25px;
        }
      }
      
      #general-data {
				width: 100%;
				
        #data {
          // Nasty ass css to clean up the tables to look a little better
          // will be removed and refactored when we have official creative
          // and own our data
          table {
            &.infobox {
              tr:first-child {
                display: none
              }
              tr:last-child {
                display: none;
              }
            }
            
            span {
              cursor: default !important;
              border-bottom: none !important;
            }
            
            &:first-child {
              margin-top: 20px;
              
              td div {
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                
                div {                  
                  -webkit-border-radius: 5px;
                  -moz-border-radius: 5px;
                }
              }
            }
            
            &:nth-child(2) {
              margin-top: 20px;
            }
            
            &.abilities_table {
              margin-top: 30px;
              
              tr:first-child {
                display: none;
              }
              
              tr {
                &:last-child {
                  td {
                    border-bottom: none !important;
                  }
                }
                
                &.ability_header {
                  td { 
                    text-align: center; 
                    padding: 10px;
                    font-size: 14px; 
                    font-weight: bold; 
                    border: dotted 1px #ababab;
                    border-right: none;
                    border-top: none;
                    
                    &:last-child {
                      border-right: dotted 1px #ababab;
                    }                    
                  }
                }
                &.ability {
                  td {
                    padding: 10px;
                    border: dotted 1px #ababab;
                    border-right: none;
                    border-top: none;
              
                    &:last-child {
                      border-right: dotted 1px #ababab;
                    }
                    &.abilityname {
                      width: 80px;
                      text-align: center;
                    
                      img {
                        width: 34px !important;
                        height: 34px !important;
                        margin-bottom: 5px;
                      }
                    }
                    &.abilityinfo {
                      width: 300px;
                  
                      span {
                        color: #464646 !important;
                      }
                    }
                    
                    ul {
                      list-style-type: none;
                      margin-top: 10px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
