*:focus { outline: none !important; }
* { margin: 0px; padding: 0px; }

body {
  display: none;
  font:  11px 'lucida grande', tahoma, verdana, arial, sans-serif; 
	color: #666; 
}

a         { color: #666; text-decoration: none; }
a:hover   { color: #C21F1F; }
a:active  { outline: none; }
a:focus   { -moz-outline-style: none; }

input { 
  color: #666; font: 11px 'lucida grande', tahoma, verdana, arial, sans-serif; 
}
input:focus, button:focus { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }


#left-section {
  width: 220px;
  height: 100%;
  position: fixed;
  
  h1 {
    text-align: center;
    padding: 10px;
    font-size: 35px;
  }
      
  form {
    padding: 10px;
    
    input {
      width: 180px;
      height: 29px;
      padding: 0px 8px;
      border: solid 1px #cecfd1;
    }
  }
  
  #list-holder {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
  }
  ul {
    list-style-type: none;

    li {
      margin-bottom: 10px;
      cursor: pointer;
    }
    li:hover {
      text-decoration: underline;
    }
  }
}
#right-section {
  position: relative;
  margin-left: 220px;
  padding: 10px;
  
  #welcome {
    width: 200px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
  }
  
  #search-data {
    display: none;
    
    h2 {
      font-size: 25px;
      margin-top: 10px;
      color: blue;
    }
    #data-found {
      section {
        margin-top: 20px;
        
        h3 {
          margin-bottom: 10px;
          color: red;
        }
      }
      
      #counter-picks {
        ol li {
          margin-left: 15px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
