@import "compass/css3";
@import "compass/utilities/general/clearfix";

aside, header, footer, article, section, nav { display: block; }

*:focus { outline: none !important; }
* { margin: 0px; padding: 0px; }

html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }

body {
  background: #000;
	font-family: Lato, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
	line-height: 22px;
	color: #fff; 
}

a         { color: #fff; text-decoration: none; }
a:hover   { color: #FFA13E; }
a:active  { outline: none; }
a:focus   { -moz-outline-style: none; }

h3 { 
  margin-bottom:15px;
  color: #FFFF9D;
}

p { margin-bottom: 15px; }

input { 
  color: #666;
	font-family: Lato, "Myriad Pro", Helvetica, Arial, sans-serif;
  font-size: 14px;
	line-height: 22px;
}
input:focus, button:focus { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner { border : 0px; }

#social { 
  position: fixed; bottom: 10px; left: 10px; 
  iframe { display: block; }
}

header {
  width: 800px;
  height: 100px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
  
  &.index {
    margin-top: 200px;
  }
  
  nav {
    text-align: right;
    margin-bottom: 15px;
    
    a { margin: 0px 10px; }
  }
  
  form {
    z-index: 10000;
    float: right;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: right;
    
    &.not-index { display: none; }
    
    input#search {
      z-index: 10000;
      width: 480px;
		  font-size: 16px;
			line-height: 22px;
			padding: 10px 10px 12px;
      border: solid 1px #cecfd1;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      
      &.loading {
        background: #fff url(/assets/loading.gif) no-repeat;
        background-position: 470px 12px;
      }
      
      &:focus {
      }
    }
  
    ul {
      display: none;
      position: absolute;
      width: 500px;
      max-height: 220px;
      overflow: auto;
      background: #fff;
      margin-top: 3px;
      margin-left: 299px;
      text-align: left;
      list-style-type: none;
      color: #464646;

      li {
        padding: 10px;
        cursor: pointer;

        &:nth-child(odd) {
          background: #ccc;
        }
        &:hover {
          background: #ababab;
          color: #333;
        }
      }
    }
  }
  
  h1 {
    position: absolute;
    width: 800px;
    height: 46px;
    padding-top: 35px;
    margin-bottom: 25px;
    font-size: 38px;
    color: #EFEFEF;
    text-align: left;
    z-index: -10;
  }
  
  p {
    font-size: 18px;
    line-height: 28px;
  }
}

#main-section {
  width: 800px;
  margin: 0 auto;
}

#search-data {
  display: none;
  
  #no-data {
    text-align: center;
  }
  
  h2 {
    font-size: 15px;
    margin-top: 20px;
    padding: 5px 10px;
    padding-left: 38px;
    color: #efefef;
    background: #464646;
    background-image: linear-gradient(top, #333, #222);
    background-image: -o-linear-gradient(top, #333, #222);
    background-image: -moz-linear-gradient(top, #333, #222);
    background-image: -webkit-linear-gradient(top, #333, #222);
    background-image: -ms-linear-gradient(top, #333, #222);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
    img {
      width: 24px;
      height: 24px;
      margin-left: -30px;
      margin-top: -1px;
      position: absolute;
    }
    
    &:first-child {
      margin-top: -5px;
    }
  }
  
  .original-template { display: none; }
  
  #data-found {
    section {
      margin-top: 20px;
      
      h3 {
        margin-bottom: 10px;
      }
    }
    
    .search-result-template {
      margin-bottom: 20px;
    }
    
    #counter-picks {
			width: 100%;
      b { i { font-size: 12px; font-weight: normal; } }
      ol {
        padding-bottom: 20px;
        border-bottom: solid 2px #444;
        
        li {
          margin-bottom: 5px;
          margin-right: 5px;
          margin-left: 19px;
        }
      }
    }
    
    #general-data {
			width: 100%;
			
      #data {
        // Nasty ass css to clean up the tables to look a little better
        // will be removed and refactored when we have official creative
        // and own our data
        table {
          margin-bottom: 25px;
          padding-bottom: 25px;
          border-bottom: solid 2px #444;
          
          &.infobox {
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 10px;
            
            tr:first-child {
              display: none
            }
            tr:last-child {
              display: none;
            }
            
            th { vertical-align: top; }
          }
          
          span {
            cursor: default !important;
            border-bottom: none !important;
          }
          
          &:first-child {
            tr {
              td {
                div { 
                  height: 15px !important; 
                  -webkit-border-radius: 3px; 
                  -moz-border-radius: 3px; 
                  
                  div {
                    -webkit-border-radius: 2px; 
                    -moz-border-radius: 2px;
                  }
                }
              }
              td:nth-child(1) {
                div div {
                  background: #52A61B !important;
                }
              }
              td:nth-child(2) {
                div div {
                  background: #D92525 !important;
                }
              }
              td:nth-child(3) {
                div div {
                  background: #0E3D59 !important;
                }
              }
              td:nth-child(4) {
                div div {
                  background: #F25C05 !important;
                }
              }                
            }
            td div {
              -webkit-border-radius: 5px;
              -moz-border-radius: 5px;
              
              div {                  
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
              }
            }
          }
          
          &:nth-child(2) {
            td, th {
              text-align: left !important;
            }
            td { 
              font-weight: bold !important; 
              small {
                font-size: 15px !important; 
              }
            }
            th { font-weight: normal; }
          }
          
          &.abilities_table {
            border-bottom: none;
            
            tr:first-child {
              display: none;
            }
            
            tr {
              &:last-child {
                td {
                  border-bottom: none !important;
                }
              }
              
              &.ability_header {
                td { 
                  text-align: center; 
                  padding: 10px;
                  font-size: 14px; 
                  font-weight: bold; 
                  border: solid 1px #444;
                  border-right: none;
                  border-top: none;
                  
                  &:first-child {
                    border-left: none !important;
                  }
                  &:last-child {
                    border-right: none !important;
                  }                   
                }
              }
              &.ability {
                td {
                  padding: 10px;
                  border: solid 1px #444;
                  border-right: none;
                  border-top: none;
                  
                  &:first-child {
                    border-left: none !important;
                  }
                  &:last-child {
                    border-right: none !important;
                  }
                  &.abilityname {
                    width: 80px;
                    text-align: center;
                  
                    img {
                      width: 34px !important;
                      height: 34px !important;
                      margin-bottom: 5px;
                    }
                  }
                  &.abilityinfo {
                    width: 300px;
                
                    span {
                      color: #464646 !important;
                    }
                  }
                  
                  ul {
                    list-style-type: none;
                    margin-top: 10px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

ul#damageCalc {
	display: block;
	padding: 0;
	font-size: 14px;
	line-height: 20px;
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;

  li {
  	display: block;
  	float: left;
  	width: 320px;
  	margin: 0 40px 0 0;
  	cursor: pointer;
  	-moz-box-sizing: border-box;

    label {
    	display: block;
    	float: left;
    	width: 100%;
    }
    
    input {
  	  display: block;
    	float: left;
    	width: 300px;
    	padding: 6px 6px 5px 6px;
    	margin: 0 0 20px 0;
    	font-size: 14px;
    	line-height: 20px;
    	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
    	-moz-box-sizing: border-box;
    }
    
    input[type=submit] {
      padding: 4px 0 2px;
      width: 180px;
      font-size: 16px;
      background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
      background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
      background-color: whiteSmoke;
      background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
      background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
      border: 1px solid #CECFD1;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -webkit-user-select: none;
      -moz-border-radius: 3px;
      line-height: 27px;
      cursor: pointer;
  
      &:hover {
        color: #464646;
        border-color: #464646;
      }
    }
  
    #damageResult {
      font-size: 22px;
      margin-top: 6px;
      color: #90EB9F;
    }
  }  
}

@mixin user-select($select) {
	-moz-user-select: -moz-#{$select};
	-khtml-user-select: $select;
	-webkit-user-select: $select;
	-o-user-select: $select;
	user-select: $select;
}

#masteries {

	display: block;
	float: left;
	width: 850px;
	
	#masteries-offensive,
	#masteries-defensive,
	#masteries-utility {
	
		display: block;
		float: left;
		width: 252px;
		height: 503px;
		padding: 18px 0 0 18px;
		margin: 0 20px 40px 0;
		@include user-select(none);
		background: transparent url("/assets/masteries/masteries-offensive.jpg") no-repeat 0 0;
		
		.masteries-1,
		.masteries-2,
		.masteries-3,
		.masteries-4,
		.masteries-5,
		.masteries-6 {
		
			display: block;
			float: left;
			width: 270px;
			height: 49px;
			margin: 0 0 36px 0;
			
			.mastery,
			.mastery-blank {
				display: block;
				float: left;
				width: 49px;
				height: 49px;
				margin: 0 12px 0 0;
				cursor: pointer;
				background: transparent url("/assets/masteries/mastery.png") no-repeat center center;
				.value {
					display: block;
					float: left;
					padding: 2px 5px 3px 5px;
					line-height: 1em;
					font-size: 10px;
					background: #000000;
				}
				.tooltip {
					display: none;
					position: absolute;
					width: 200px;
					padding: 10px;
					margin: 0 0 0 59px;
					font-size: 10px;
					line-height: 15px;
					background: #000000;
					h3, p {
						margin: 0 0 10px 0;
					}
					ul {
						margin: 0 0 0 20px;
						width: 180px;
					}
				}
			}
			.mastery:hover {
				.tooltip { display: block; }
			}
			.mastery-blank { background: none; }
			
			/* Images for offensive mastery tree. */
			#summoners-wrath		{ background: transparent url("/assets/masteries/summoners-wrath.png") no-repeat center center; }
			#brute-force				{ background: transparent url("/assets/masteries/brute-force.png") no-repeat center center; }
			#mental-force				{ background: transparent url("/assets/masteries/mental-force.png") no-repeat center center; }
			#butcher						{ background: transparent url("/assets/masteries/butcher.png") no-repeat center center; }
			#alacrity						{ background: transparent url("/assets/masteries/alacrity.png") no-repeat center center; }
			#sorcery						{ background: transparent url("/assets/masteries/sorcery.png") no-repeat center center; }
			#demolitionist			{ background: transparent url("/assets/masteries/demolitionist.png") no-repeat center center; }
			#deadliness					{ background: transparent url("/assets/masteries/deadliness.png") no-repeat center center; }
			#weapon-expertise		{ background: transparent url("/assets/masteries/weapon-expertise.png") no-repeat center center; }
			#arcane-knowledge		{ background: transparent url("/assets/masteries/arcane-knowledge.png") no-repeat center center; }
			#havoc							{ background: transparent url("/assets/masteries/havoc.png") no-repeat center center; }
			#lethality					{ background: transparent url("/assets/masteries/lethality.png") no-repeat center center; }			
			#vampirism					{ background: transparent url("/assets/masteries/vampirism.png") no-repeat center center; }
			#blast							{ background: transparent url("/assets/masteries/blast.png") no-repeat center center; }
			#sunder							{ background: transparent url("/assets/masteries/sunder.png") no-repeat center center; }
			#archmage						{ background: transparent url("/assets/masteries/archmage.png") no-repeat center center; }
			#executioner				{ background: transparent url("/assets/masteries/executioner.png") no-repeat center center; }
			
			/* Images for defensive mastery tree. */
			#summoners-resolve	{ background: transparent url("/assets/masteries/summoners-resolve.png") no-repeat center center; }
			#resistance					{ background: transparent url("/assets/masteries/resistance.png") no-repeat center center; }
			#hardiness					{ background: transparent url("/assets/masteries/hardiness.png") no-repeat center center; }
			#tough-skin					{ background: transparent url("/assets/masteries/tough-skin.png") no-repeat center center; }
			#durability					{ background: transparent url("/assets/masteries/durability.png") no-repeat center center; }
			#vigor							{ background: transparent url("/assets/masteries/vigor.png") no-repeat center center; }
			#indomitable				{ background: transparent url("/assets/masteries/indomitable.png") no-repeat center center; }
			#veterans-scars			{ background: transparent url("/assets/masteries/veterans-scars.png") no-repeat center center; }
			#evasion						{ background: transparent url("/assets/masteries/evasion.png") no-repeat center center; }
			#bladed-armor				{ background: transparent url("/assets/masteries/bladed-armor.png") no-repeat center center; }
			#siege-commander		{ background: transparent url("/assets/masteries/siege-commander.png") no-repeat center center; }
			#initiator					{ background: transparent url("/assets/masteries/initiator.png") no-repeat center center; }
			#enlightenment			{ background: transparent url("/assets/masteries/enlightenment.png") no-repeat center center; }
			#honor-guard				{ background: transparent url("/assets/masteries/honor-guard.png") no-repeat center center; }
			#mercenary					{ background: transparent url("/assets/masteries/mercenary.png") no-repeat center center; }
			#juggernaut					{ background: transparent url("/assets/masteries/juggernaut.png") no-repeat center center; }
			
			/* Images for utility mastery tree. */
			#summoners-insight	{ background: transparent url("/assets/masteries/summoners-insight.png") no-repeat center center; }
			#good-hands					{ background: transparent url("/assets/masteries/good-hands.png") no-repeat center center; }
			#expanded-mind			{ background: transparent url("/assets/masteries/expanded-mind.png") no-repeat center center; }
			#improved-recall		{ background: transparent url("/assets/masteries/improved-recall.png") no-repeat center center; }
			#swiftness					{ background: transparent url("/assets/masteries/swiftness.png") no-repeat center center; }
			#meditation					{ background: transparent url("/assets/masteries/meditation.png") no-repeat center center; }
			#scout							{ background: transparent url("/assets/masteries/scout.png") no-repeat center center; }
			#greed							{ background: transparent url("/assets/masteries/greed.png") no-repeat center center; }
			#transmutation			{ background: transparent url("/assets/masteries/transmutation.png") no-repeat center center; }
			#runic-affinity			{ background: transparent url("/assets/masteries/runic-affinity.png") no-repeat center center; }
			#wealth							{ background: transparent url("/assets/masteries/wealth.png") no-repeat center center; }
			#awareness					{ background: transparent url("/assets/masteries/awareness.png") no-repeat center center; }
			#sage								{ background: transparent url("/assets/masteries/sage.png") no-repeat center center; }
			#strength-of-spirit	{ background: transparent url("/assets/masteries/strength-of-spirit.png") no-repeat center center; }
			#intelligence				{ background: transparent url("/assets/masteries/intelligence.png") no-repeat center center; }
			#mastermind					{ background: transparent url("/assets/masteries/mastermind.png") no-repeat center center; }

		}
		
	}
	
	#masteries-offensive {
	}
	#masteries-defensive {
		background: transparent url("/assets/masteries/masteries-defensive.jpg") no-repeat 0 0;
	}
	#masteries-utility {
		margin: 0 0 40px 0;
		background: transparent url("/assets/masteries/masteries-utility.jpg") no-repeat 0 0;
	}
	
}







